@import "https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css";


@media (prefers-color-scheme: dark) {
  :root {
  }
}

.titulo {
    text-align: center;
    font-size: 70px;
    margin-top: 100px;
    color: white;
}

body {
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}
html { 
  scroll-behavior: smooth; 
}

/*Originalmente a pagina principal ia ter um background top mas eu esqueci como colocar imagens de fundo OU o ddev não mostra imagens de fundo, eu uso ddev já que o xammp no linux é ruim.*/








